/* Start Global Variables  */

:root {
    --main-color: #1D809F;
    --dark-color: #155264;
    --section-padding: 100px;
    --p-color: #777;
    --shade-of-black: #212529;
    --yellow: #ECB807;
    /* --transparent-color: rgb(15 116 143/70%);
    --section-bg-color: #121116; */
}


/* End Global Variables  */


/* Start Global Rules  */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-family: 'Tajawal', sans-serif;
    font-family: 'Work Sans', sans-serif;
    line-height: 1.8;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* Small Screens */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* ’Medium Screens */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large Screens */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.btn {
    display: inline-block;
    padding: 20px;
    margin-top: 50px;
    color: white;
    border-radius: 5px;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -ms-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
}

.main-btn {
    background-color: var(--main-color);
}

.main-btn:hover {
    background-color: var(--dark-color);
}

.black-btn {
    background-color: var(--shade-of-black);
}

.black-btn:hover {
    background-color: black;
}

.white-btn {
    background-color: white;
    color: black;
}

.white-bg {
    background-color: white;
}


/* End Global Rules  */


/* Start Components  */

.main-header {
    text-align: center;
}

.main-header p {
    color: var(--yellow);
    text-transform: uppercase;
    font-weight: 700;
}

.main-header h2 {
    color: white;
    font-size: 40px;
    margin-bottom: 70px;
    margin-top: -10px;
}

.fade {
    display: block;
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: 0.3;
    }
    to {
        opacity: 1
    }
}


/* End Components  */


/* Start Header  */

header {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 7;
}

header .fa-bars {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgb(0 0 0 / 40%);
    color: white;
    padding: 18px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 0;
}

header .fa-bars:hover {
    background-color: rgb(0 0 0 / 70%);
}

header .navbar {
    background-color: var(--main-color);
    width: fit-content;
    height: 100vh;
    width: 250px;
    position: absolute;
    top: 0;
    right: -250px;
    z-index: 5;
    animation-duration: 1.5s;
}

header .navbar li {
    padding: 10px 20px;
    position: relative;
    transition: .6ss ease-in-out;
    -webkit-transition: .6ss ease-in-out;
    -moz-transition: .6ss ease-in-out;
    -ms-transition: .6ss ease-in-out;
    -o-transition: .6ss ease-in-out;
}

header .navbar li:first-child {
    background-color: #177592;
    padding: 20px;
}

header .navbar li a {
    color: white;
    font-weight: 400;
    font-size: 18px;
}

header .navbar li:not(:first-child):hover {
    background-color: #459ab4;
    padding-left: 30px;
}

header .close {
    z-index: 8;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(0 0 0 / 40%);
    color: white;
    font-size: 20px;
    padding: 0 12px;
    cursor: pointer;
}

@keyframes right-to-left {
    from {
        right: -250px;
    }
    to {
        right: 0;
    }
}

@keyframes left-to-right {
    from {
        right: 0;
    }
    to {
        right: -250px;
    }
}


/* End  Header  */


/* Start .landing  */

.landing {
    background-image: url(../images/bg-masthead.jpg);
    background-color: aquamarine;
    background-size: cover;
    height: 100vh;
    background-position: center;
    position: relative;
}

.landing .container {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .container h1 {
    font-size: 80px;
}

@media (max-width:991px) {
    .landing .container h1 {
        font-size: 50px;
    }
}

@media (max-width: 767px) {
    .landing .container h1 {
        font-size: 40px;
    }
}

.landing .container p {
    font-size: 23px;
    font-weight: 600;
    margin: -50px auto 30px;
    font-style: italic;
}

@media (max-width:767px) {
    .landing .container p {
        font-size: 20px;
        margin: -30px auto 30px;
    }
}


/* End .landing  */


/* Start Find out Section  */

.find-out {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.find-out .container {
    text-align: center;
}

.find-out .container h2 {
    font-size: 30px;
}

.find-out .container p {
    font-size: 18px;
    color: var(--p-color);
}

.find-out .container p a {
    color: var(--main-color);
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}

.find-out .container p a:hover {
    text-shadow: 0px 0px 1px var(--dark-color);
}


/* End Find out Section  */


/* Start Services  */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--main-color);
    color: white;
}

.services .container ul {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.services .container ul li i {
    background-color: white;
    padding: 30px;
    border-radius: 50%;
    color: var(--main-color);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.services .container ul li:first-child i {
    padding: 30px 35px;
}

.services .container ul li h3 {
    margin: 20px auto 0;
}

.services .container ul li p {
    color: rgb(255 255 255 /70%);
}


/* End Services  */


/* Start Next Website  */

.next-website {
    height: 100vh;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-image: url(../images/bg-callout.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.next-website .container {
    text-align: center;
}

.next-website .container h2 {
    font-size: 60px;
    font-weight: 600;
}

@media(max-width:767px) {
    .next-website .container h2 {
        font-size: 45px;
    }
}


/* End Next Website  */


/* Start Portolio */

.portolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.portolio .container .main-header h2 {
    color: var(--shade-of-black);
}

.portolio .container ul {
    display: flex;
    flex-wrap: wrap;
}

.portolio .container ul li {
    width: calc(48% - 30px);
    position: relative;
}

@media(max-width:991px) {
    .portolio .container ul {
        flex-direction: column;
    }
    .portolio .container ul li {
        width: 90%;
        margin: 5px auto;
    }
}

.portolio .container ul li img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -ms-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
}

.portolio .container ul li:hover img {
    transform: scale(80%);
    -webkit-transform: scale(80%);
    -moz-transform: scale(80%);
    -ms-transform: scale(80%);
    -o-transform: scale(80%);
}

.portolio .container ul li .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1d819fe5;
    display: none;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -ms-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
}

.portolio .container ul li:hover .overlay {
    display: block;
    transform: scale(80%);
    -webkit-transform: scale(80%);
    -moz-transform: scale(80%);
    -ms-transform: scale(80%);
    -o-transform: scale(80%);
}

.portolio .container ul li .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 80px;
    color: white;
}

.portolio .container ul li .caption h4 {
    text-transform: uppercase;
}

.portolio .container ul li .caption p {
    font-size: 17px;
}


/* End Portolio */


/* Start Buttons */

.buttons {
    background-color: var(--main-color);
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.buttons h3 {
    color: white;
}


/* End Buttons */


/* Start Location  */

.location iframe {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    border: 0;
}


/* End Location  */


/* Start Footer  */

footer {
    text-align: center;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

footer .container .links i {
    font-size: 30px;
    padding: 20px;
    background-color: var(--main-color);
    border-radius: 50%;
    color: white;
    width: 75px;
}

footer .container .links i:hover {
    background-color: var(--dark-color);
}

footer .container p {
    margin-top: 20px;
    font-size: 13px;
}

footer .container p span {
    color: var(--main-color);
    font-weight: 500;
    transition: .6s ease-in-out;
    -webkit-transition: .6s ease-in-out;
    -moz-transition: .6s ease-in-out;
    -ms-transition: .6s ease-in-out;
    -o-transition: .6s ease-in-out;
}

footer .container p span:hover {
    color: var(--dark-color);
}


/* End Footer  */


/* Scroll to top button  */

.scroll-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    font-size: 18px;
    padding: 8px 18px;
    border-radius: 5px;
    background-color: rgb(0 0 0 / 40%);
    color: white;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: none;
}

.scroll-top:hover {
    background-color: rgb(0 0 0 / 70%);
}